.title {
  display: none;
  padding: 3px;
}

.title span.smaller {
  display: none;
}

ul.nav.top {
  min-height: 39px;
}

body {
  padding: 5px;
  font-size: 1em;
}

div.small.clear {
  display: none;
}

.searchwrap {
  display: none;
}

ul.list li {
  padding: 8px 0px;
}

li.lastpost {
  display: none;
}

li.subject {
  width: 77%;
}

ul.nav li a  {
  padding: 0px;
  color: #333;
}

.subtitle {
  display: none;
}
